<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1>
    <h2>
      You have successfully created a job order with the following details:
    </h2>
    <ul>
      <%= render "job_details"%>
    </ul>
    <%= render "email_regards"%>
  </body>
</html>
