<div class="w-11/12 flex items-center justify-between">
  <%= render "layouts/personnels" %>
</div>
</br>
<div class="overflow-x-auto relative sm:rounded-lg">
  <%= render "layouts/job_table" %>
</div>
<div class="w-11/12 h-5/6 flex items-center justify-between">
  <%= render "layouts/remarks_table" %>
  <%= render "layouts/evaluation" %>
</div>
