<div class="sm:rounded-lg">
  <% if @job.evaluation != nil%>
    <h3>Evaluation</h3>
    <p>Response Time : <%=@response_time%></p>
    <p>Quality : <%=@quality%></p>
    <p>Courtesy : <%=@courtesy%></p>
    <p>Message : <%=@comments%></p>
  <%end%>
</div>
